.bigBtn{
	padding: 20px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	/* background-color: aliceblue; */
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.midBtn{
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	/* background-color: aliceblue; */
	border-radius: 8px;
	border: none;
	cursor: pointer;
}
.smallBtn{
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	/* background-color: aliceblue; */
	border-radius: 4px;
	border: none;
	cursor: pointer;
}
.normalBtn{
	background-color: var(--baseColor);
	color: white;
}
.changeBtn{
	background-color: seagreen;
	color: white;
}
.delBtn{
	background-color: firebrick;
	color: white;
}
.checkBtn{
	background-color: coral;
	color: white;
}
.bigBtn:hover{opacity: 0.7;}
.midBtn:hover{opacity: 0.7;}
.smallBtn:hover{opacity: 0.7;}
.bigBtn:active{opacity: 1;}
.midBtn:active{opacity: 1;}
.smallBtn:active{opacity: 1;}