.cdItem{
	display: inline-block;
	width: 50%;
	height: 30px;
	/* margin-right: 0px; */
}
.cdRight{
	float: right;
	overflow: hidden;
}
.cdtop{margin-top: -28px;}
.cdbt{padding-bottom: 20px;margin-top: -30px;}
.cdItem>label{
	display: inline-block;
	width: 120px;
	height: 20px;
	line-height: 20px;
	text-align: right;
	/* margin-right: 15px; */
}
input[type=text]{
	padding-left: 4px;
	outline: none;
	height: 25px;
}
.searchBtn{
	/* float: right; */
	background-color: gainsboro;
	width: 80px;
	height: 22px;
	margin: 3px;
	margin-right: 25px;
	border: none;
	border-radius: 5px;
}
.searchBtn:hover{opacity: 0.8;}
.addNews{
	background-color: blueviolet;
	width: 100px;
	border-radius: 5px;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	margin: 9px;
	float: right;
	}
.addNews>a{color: aliceblue;}
.addNews:hover{opacity: 0.8;}