*{margin: 0;padding: 0}
body{
	background: url("../img/forst.jpg") center center fixed no-repeat;
	background-size: cover;
}
#login{
	width: 410px;
	height: 410px;
	margin: auto;
	margin-top: 140px;
	border-radius: 20px;
	background-color: white;
	box-shadow: aliceblue 0 0 15px,white 0 0 30px;
}
#login h1{
	text-align: center;
	background-color: var(--baseColor);
	color: white;
	border-radius: 20px 20px 0px 0px;
	height 120px;
	line-height: 120px;
}
#loginForm .wrongTip{
	text-align: center;
	color: red;
	visibility: hidden;
	padding: 10px 0px;
}
#loginForm .input{
	width: 200px;
	display: inline-block;
	height: 42px;
	margin: 20px 0px;
	border: gray;
}
#loginForm .input input{
	height: 40px;
	width: 100%;
	/* background-color: gray; */
	border-radius: 21px ;
	outline: none;
	padding-left: 10px;
}
/* .login-btm{
	width: 200px;
	height: 40px;
	line-height: 40px;
	background-color: #56A7FF;
	color: white;
	border: none;
	margin:10px auto;
	display: block;
	border-radius: 6px;
}
.login-btm:hover{
	cursor: wait;
	background-color: blue;
} */
.bottomArea{
	text-align: center;
	color: azure;
	font-size: 14px;
	margin-top: 80px;
}
.loginIcon{
	margin-left: 100px;
	/* margin-top: 20px; */
}
.fa{
	margin-left: -20px;
}
.loginBtn{
	text-align: center;
}