*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
img{margin-top: 5px;}
#top-menu{
	height: 60px;
	min-width: 1599px;
	background-color: var(--baseColor);
	/* padding: 0px 50px; */
}
#top-menu>ul{
	float: right;
	padding-right: 100px;
	}
#top-menu>ul>li{
	float: left;
	line-height: 50px;
	padding-top: 5px;
}
#top-menu>ul>li a{
	color: white;
}
#top-menu .drop-menu{
	position: relative;
	height: 50px
}
#top-menu .drop-content{
	position: absolute;
	width: 100px;
	background-color: gray;
	border-radius: 6px;
	text-align: center;
	display: none;
}
#top-menu .drop-menu:hover .drop-content{display: block;}
#top-menu .drop-menu .drop-content ul:hover a{font-weight: bold;}
#main-content{
	width: 100%;
	min-width: 1599px;
	margin: 0px auto;
	/* height: 90vh; */
	display: block;
	overflow: hidden;
	/* border: 1px solid black; */
}
#main-content .leftArea{
	/* border: 1px solid black; */
	/* display: inline; */
	width: 200px;
	min-width: 200px;
	float: left;
	background-color: whitesmoke;
	text-align: center;
	height: 90vh;
}
#main-content .rightArea{
	/* display: inline; */
	width: 80%;
	/* min-width: 820px; */
	/* height: 560px; */
	margin: 40px;
	float: right;
}
#main-content .rightArea>h2{text-align: center;}
#main-content .leftMenu .menuItem>a{
	color: black;
	line-height: 60px;
	font-size: 16px;
	/* border: 1px solid black; */
}
.leftMenu li{border-top: 1px solid #999;}
.leftMenu li:last-of-type{border-bottom: 1px solid #999;}
.menuItem:hover a{font-weight: bold;}
#bottomArea{
	background-color: var(--baseColor);
	color: white;
	text-align: center;
	height: 50px;
	line-height: 50px;
	position: fixed;
	bottom: 0px;
	width: 100%;
}
#main-content .rightArea h2{
	font-size: 24px;
	color: black;
}
.rightArea .tjBox{
	width: 220px;
	height: 120px;
	margin: 40px 20px;
	display: inline-block;
	background-color: lightsalmon;
	border-radius: 30px;
	box-shadow: 1px 10px 20px #999;
}
.rightArea .tjBox:hover{
	width: 230px;
	height: 130px;
	margin: 40px 15px;
	box-shadow: 10px 20px 40px #999;
}
.rightArea .tjBox h3{
	text-align: center;
	margin-top: 16px;
	color: white;
}
.rightArea .tjBox span{
	display: block;
	text-align: center;
	line-height: 80px;
	font-size: 34px;
	color: white;
}
.rightArea .tjBox .s-dw{
	display: inline-block;
	width: 30px;
	height: 30px;
	color: white;
	position: relative;
	bottom: 80px;
	left: 160px;
	font-size: 24px;
}
.bread{
	font-size: 18px;
}